INFLUX_HOST=your-influx-host
INFLUX_PORT=8086
INFLUX_USERNAME=your-username
INFLUX_PASSWORD=your-password
INFLUX_DBNAME=your-database
HA_URL=home-assistant-url
HA_TOKEN=home-assistant-long-lived-access-token